@media only screen and (max-width: 600px) {
  .THIS .fixedFooter {
    bottom : 3.5rem !important;
  }
}

@media only screen and (min-width: 600px) {
  .THIS .fixedFooter {
    bottom : 3.5rem !important;
  }
}

@media only screen and (min-width: 768px) {
 .THIS .fixedFooter {
    bottom : 3.5rem !important;
  }
} 

@media only screen and (min-width: 992px) {
  .THIS .fixedFooter {
    bottom : 3.6rem !important;
  }
} 

@media only screen and (min-width: 1200px) {
  .THIS .fixedFooter {
    bottom : 4.4rem !important;
  }
}