.header-item1 {
    width:30%;
    display:inline-block;
    padding:10px;
    margin:10px
}
.header-item2 {
    width:30%;
    display:inline-block;
    padding:10px;
    margin:10px
}
.header-item3{
    width:30%;
    display:inline-block;
    padding:10px;
    margin:10px
}
.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
}	

.helptextheading{
    top: -4px;
    position: relative;
}

.helptexts{
    top: -2px;
    position: relative;
}