.THIS .c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}

.THIS .lgc-bg {
    background-color: rgb(242, 242, 242);
}

.THIS .lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}